{% extends "BRSCoreBundle:Blocks:base.html.twig" %}

{% block block_content %}
<style>
.navigation {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

.navigation h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}
</style>
<section>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="navigation">
            <ul class="nav nav-pills pull-right">
                <li class="{% if app.request.attributes.get('path')=='/' %}active{% endif %}"><a href="/">Home</a></li>
              {% if page is defined %}
                {% for child in page.children %}
                  <li class="{% if app.request.attributes.get('path') == child.url %}active{% endif %}"><a href="{{ path(child) }}" title="{{ child.name|escape }}">{{ child.name }}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
            <h3 class="text-muted">Site</h3>
          </div>

          <div class="jumbotron">
            {{block.settings.content|raw}}
            <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
{% endblock %}