{% extends "BRSPineappleBundle:Frame:base.html.twig" %}

{% block content %}
  
  <div id="page_container">
    
    {% if content is defined %}
      {{ content|raw }}
    {% endif %}
    
    {{ sonata_page_render_container('content_1', page, { template:'BRSCoreBundle:Blocks:container.html.twig' }) }}
    
  </div>
  
{% endblock %}