<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="copy">&copy; Copyright {{ "now"|date("Y") }} — {{ page.site.name }} — All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>