<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/{% if app.environment == 'dev' %}app_dev.php{% endif %}">Company</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      {{ sonata_page_render_container('header', 'global') }}
    </nav>
  </div>
</header>