{% form_theme form 'BRSPineappleBundle:Form:widget-settings-theme.html.twig' %}

{{ form_start(form) }}

	<div class="row actions">
		<div class="col-sm-8"><h3>Block Settings</h3></div>
		<div class="col-sm-4 text-right">
			<button class="btn btn-primary">Save</button>
			<button class="btn btn-info pineapple-settings-cancel">Cancel</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			{{ form_widget(form) }}
			
			<input id="page__sonata_page_skip" type="hidden" value="1" name="_sonata_page_skip">
			
		</div>
	</div>
	
{{ form_end(form) }}